.content-center-Bx {
  background: #f9f8f8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  max-width: 40%;
  max-height: 40%;
  margin: auto;
  margin-top: 6vw;
  padding: 4vw;
}

.text-heading{
  color: black;
}
.text-content {
  color: #000;
  font-family: Calibri;
  font-size: 2vw;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.file {
  border-radius: 1vw;
  background: #368274;
  padding: 0.5vw;
  margin-right: 1vw;
}
.btn-file {
  border-radius: 1vw;
  background: #c4c9c9;
  padding: 0.5vw;
  border: none;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
