.container_Acc{
    margin-right: 0vw;

}

.Tab_Main{
    width: 80vw;
    margin-top: 3vh;
    row-gap: 20vh;
}

.Hedding_Acc_Req{
    margin-top: 5vh;
    color: black;
}

.abcd{
    width: 80vw;
    height: 85vh;
    
}

